html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    transition: 0.5s ease;
}
body{
    overscroll-behavior: contain;
    padding: 0;
    margin: 0;
    background-color: #F9F9F9;
    font-family: 'Calibri';

    
    
}
strong.f{
    font-size: 45px;
    font-weight: bold;

}


img.logo1{

    position:absolute;
    margin: 40px 165px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
h1.logo2{
    position: absolute;
    margin: 45px 225px;
    font-size: 35px;

}
ul.fistpage{
    margin: 23px 500px;
    position: absolute;
    width: 600px;
    list-style-type: none;
    

}
li.li1{   
    float:left; 
    padding: 30px;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;   
}
p{
   color: #939393;

}

a{
    text-decoration:none;
    color: #6d6d6d;
    transition: 0.1s ease-in-out;
}
a:hover{
    color: #00C569;
}
a.signin{
    position: absolute;
    margin: 38px 1130px;
    border: 0px solid ;
    font-size: 20px;
    border-radius: 30px;
    width: 130px;
    padding-top: 13px;
    text-align: center;
    
    height: 50px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px  rgb(207, 207, 207);
    cursor: pointer;
}

a.signup{
    position: absolute;
    margin: 38px 1280px;
    border: 0px solid ;
    background-color:#00C569;
    font-size: 20px;
    border-radius: 30px;
    padding-top: 12px;
    text-align: center;
    width: 130px;
    height: 50px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;        
}
.signup:hover{
    background: rgb(0, 0, 0);
}

a.signin:active{
    background-color: #f5f5f5;

}
a.signup:active{
    background-color: #13b469;

}

h1.title0{
    position: absolute;
    margin: 180px 170px;
    font-size: 100px;
    color: #000;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 80px;
}
strong.greens{
    color:#00C569;

}
p.para1{
    position: absolute;
    margin: 480px 170px;
    font-size: 15px;
    width: 550px;
    font-weight:bold;
    color: #888;
    letter-spacing: 1px;
    transition: 1s ease;
}

input.start{
    position: absolute;
    margin: 600px 170px;
    border: 0px solid ;
    background-color:#00C569;
    font-size: 18px;
    border-radius: 30px;
    padding: 15px;
    width: 130px;
    height: 50px;
    color: #FFF;
    cursor: pointer;
    
}
input.start:active{
    background-color:#00b35f;
}

input.contact{
    position: absolute;
    margin: 600px 330px;
    border: 0px solid ;
    background-color:#fcfcfc;
    font-size: 18px;
    border-radius: 30px;
    padding: 15px;
    width: 130px;
    height: 50px;
    color: #00C569;
    cursor: pointer;
    box-shadow: 0px 0px 5px  rgb(213, 213, 213);

}
input.contact:active{
    background-color:#efefef;
    color: #009f2d;
}
div.green{
    position: absolute;
    margin: 430px 1000px;
    background-color: #00C569;
    width: 350px;
    height: 160px;
    border-radius: 10px;
    cursor: pointer;
}

img.image1{
    width: 380px;
    height:450px;
    position: absolute;
    margin: 140px 960px;
    border-bottom-left-radius: 50px;
}

div.lemoon{
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 490px 940px;
    background-color: rgb(255, 221, 0);
    border-radius:55px;
    cursor: pointer;
    animation: lemoon 10s infinite linear  ;
    transition: 1s ease-in-out;
}
@keyframes lemoon {
    100%{
        transform: rotate(360deg);
    }
    
}
div.lemoon:hover{
    animation: lemoon 3s infinite linear  ;
}
div.nextpage{
    position: absolute;
    width: 100%;
    height: 180px;
    margin: 850px 0px;
    background-color: #e7e7e7;
    }
h1.nextpage1{
    position: absolute;
    margin: 900px 250px ;
    font-size:25px ;
}
h1.nextpage2{
    position: absolute;
    margin: 900px 650px ;
    font-size:25px ;
}
h1.nextpage3{
    position: absolute;
    margin: 900px 1050px ;
    font-size:25px ;
    width: 200px;
}
h1.page2{
    margin: 1120px 430px;
    position: absolute;
    width: 690px;
    text-align: center;
    font-size: 53px;
    letter-spacing: 5px;
    font-weight: bold;


}
div.box1{
    position: absolute;
    margin: 1350px 250px;
    height: 220px;
    width: 220px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px  rgba(181, 181, 181, 0.655);
    border-radius: 12px;
    transition: 0.5s ease;

}



div.box2{
    position: absolute;
    margin: 1350px 540px;
    height: 220px;
    width: 220px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px  rgba(181, 181, 181, 0.655);
    border-radius: 12px;
    transition: 0.5s ease;
    
}
div.box1:hover,div.box2:hover,div.box3:hover,div.box4:hover{
    box-shadow: 0px 0px 10px  rgb(149, 149, 149);
    cursor: pointer;
    user-select: none;

}

div.box3{
    position: absolute;
    margin: 1350px 830px;
    height: 220px;
    width: 220px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px  rgba(181, 181, 181, 0.655);
    border-radius: 12px;
    transition: 0.5s ease;

}
div.box4{
    transition: 0.5s ease;

    position: absolute;
    margin: 1350px 1100px;
    height: 220px;
    width: 220px;
    background-color: #FFF;
    box-shadow: 0px 0px 5px  rgba(181, 181, 181, 0.655);
    border-radius: 12px;

}
img.boximage1{
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: #b3ffd1;
    border-radius: 20px;
    padding: 5px;
}
h5.research{
    font-size: 15px;
    margin: 10px 12px;


}
p.para2{
    position: absolute;
    font-size: 14px;
    margin: 10px 10px;
}
div.image3{
    position: absolute;
    background-color: #e7e7e7;
    width: 450px;
    height:410px;
    border-radius: 20px;
    margin: 1770px 200px;
    overflow: hidden;
    filter: brightness(90%);
    cursor: pointer;

}
img.image33{
    margin: -40px -180px;
    transition: 0.5s ease-in-out;
}

img.image33:hover{
    transform: scale(1.1);
}
h1.aboutus{
    position: absolute;
    margin: 1820px 800px;
    width: 200px;
    font-size: 50px;
}
p.aboutpara{
    position:absolute;
    width: 500px;
    color: #6d6d6d;
    margin: 1900px 800px;
    font-size: 20px;
}
a.explore{
    position: absolute;
    margin: 2080px 820px;
    width: 150px;
    color: #00eb7d;
    font-weight: bold;
    font-size: 18px;
}
h1.page3{
    position: absolute;
    margin:2330px 430px;
    width: 700px;
    text-align: center;
    font-size: 55px ;
}
div.newbox1{
    background-color: #FFF;
    position: absolute;
    margin: 2550px 190px;
    width: 330px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #dfdfdf;
    transition: .5s ease-in-out;

}
h1.title1{
    margin: 40px;
}
h1.title2{
    margin: 40px;
}
li.li3{
    height: 40px;
    margin: 10px;

}
sub.little{
    font-size: 15px;
}
div.newbox2{
    background-color: #FFF;
    position: absolute;
    margin: 2550px 590px;
    width: 330px;
    height: 500px;
    box-shadow: 0px 0px 0px #c8c8c8;
    border-radius: 20px;
    transition: .5s ease-in-out;
   
}
div.newbox1:hover,div.newbox2:hover,div.newbox3:hover{
    box-shadow: 0px 0px 10px #c8c8c8;
    cursor: pointer;

}




div.newbox3{
    background-color: #FFF;
    position: absolute;
    margin: 2550px 990px;
    width: 330px;
    height: 500px;
    border-radius: 20px;
    transition: .5s ease-in-out;
    
}

input.learn3{
    position: absolute;
    margin: 10px 0px;
    border: 0px solid ;
    background-color:#00DD6F;
    font-size: 18px;
    border-radius: 30px;
    padding: 15px;
    width: 130px;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 0px 5px  rgb(181, 181, 181);
    transition: 0.2s ease;
}
.learn3:active{
    background-color: #00a156;

}
button.left{
    position:absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: 3100px 695px;
    background-color: #FFF;
    border-radius: 5px;
    cursor: pointer;

}
button.left:active{
    background-color: #eeeeee;
 
}
button.right{
    position:absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: 3100px 755px;
    border: 0px solid;
    color: #FFF;
    background-color: #00DD6F;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #00c5696f;
    cursor: pointer;

}
button.right:active{
    background-color: #00ae5d;
}
h1.clients{
    position: absolute;
    margin: 3250px 410px;
    width: 700px;
    font-size: 60px;
    text-align: center;
}
div.comment1{
   width: 300px; 
   height: 230px;
   position: absolute;
   background-color: white;
   margin: 3460px 200px;
   border-radius: 10px;
   box-shadow: 0px 0px 5px rgb(230, 230, 230);
  
}
div.comment2{
    width: 300px; 
    height: 230px;
    position: absolute;
    background-color: white;
    margin: 3460px 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(223, 223, 223);
    cursor: pointer;
 }
 .kk1{
    position: absolute;
    border: 2px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 60px;
    margin: 3410px 225px;
    z-index: 1;
    text-align: center;
    background-color: rgb(255,255,255);
    cursor: pointer;
 }
 .kk2{
    position: absolute;
    border: 2px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 60px;
    margin: 3410px 625px;
    z-index: 1;
    background-color: rgb(255,255,255);
    cursor: pointer;
}
 .kk3{
    position: absolute;
    border: 2px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 60px;
    margin: 3410px 1025px;
    z-index: 1;
    background-color: rgb(255,255,255);
    cursor: pointer;
 }
 img.profile1{
    position: absolute;
    width:70px;
    height:70px;
    border-radius: 50%;
    z-index: 4;
    margin: 3590px 220px;
    
    
 }
 p.comment1{
    position: absolute;
    margin: 3510px 225px;
    width: 230px;

 }
 h4.name1{
    position: absolute; 
    margin: 3600px 310px;
    width: 150px;
 
   
}
label.comment1{
    position: absolute;
    margin: 3620px 310px ;
    font-size: 15px;


}
img.profile2{
    position: absolute;
    width:70px;
    height:70px;
    border-radius: 50%;
    z-index: 4;
    margin: 3590px 620px;
    
    
 }
 p.comment2{
    position: absolute;
    margin: 3510px 625px;
    width: 250px;

 }
 h4.name2{
    position: absolute; 
    margin: 3600px 710px;
    width: 200px;
 
   
}
label.comment2{
    position: absolute;
    margin: 3620px 710px ;
    font-size: 15px;


}
img.profile3{
    position: absolute;
    width:70px;
    height:70px;
    border-radius: 50%;
    z-index: 4;
    margin: 3590px 1020px;
    
    
 }
 p.comment3{
    position: absolute;
    margin: 3500px 1025px;
    width: 250px;

 }
 h4.name3{
    position: absolute; 
    margin: 3600px 1110px;
    width: 200px;
 
   
}
label.comment3{
    position: absolute;
    margin: 3620px 1110px ;
    font-size: 15px;


}



 div.comment3{
    width: 300px; 
    height: 230px;
    position: absolute;
    background-color: white;
    margin: 3460px 1000px;
    border-radius: 10px;   
    box-shadow: 0px 0px 5px rgb(230, 230, 230);
}
 button.left2{
    position:absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: 3740px 690px;
    background-color: #FFF;
    border-radius: 5px;
    cursor: pointer;

}
button.left2:active{
    background-color: #eeeeee;
}
button.right2{
    position:absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: 3740px 720px;
    border: 0px solid;
    color: #FFF;
    background-color: #00DD6F;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #00c5696f;
    cursor: pointer;

}
button.right2:active{
    background-color: #00ae5d;
    box-shadow: 0px 0px 7px #00c5696f;

}

div.page4{
    position: absolute;
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 340px;
    margin: 3900px 0px;
    font-size: 20px;

}
h1.title4{
    position: absolute;
    text-align: center;
    width: 600px;
    margin: 3970px 450px;
    letter-spacing: 2px;
    font-size: 45px;
    
}
input.email{
    position:absolute;
    margin:4130px 510px;
    height: 50px;
    width: 350px;
    border: 0px solid ;
    border-radius: 40px;
    text-indent: 20px;
    font-size: 15px;
    

}
input.subscribe{
    position: absolute;
    margin: 4130px 880px;
    border: 0px solid ;
    background-color:#00C569;
    font-size: 18px;
    border-radius: 30px;
    padding: 15px;
    width: 130px;
    height: 50px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 0px 5px  rgb(181, 181, 181);
    transition: 0.2s ease;
}
.subscribe:active{
    background-color: #000;
}
h2.logo2{
    position: absolute;
    margin: 4300px 180px;
    
}
p.finalpara{
    position: absolute;
    margin: 4340px 180px;
    color: #999;
    width: 200px;
}
ul.end1{
    position: absolute;
    margin: 4300px 400px;
    list-style-type: none;
    width: 900px;
    color: #000 ;
   
    
}

li.serviceend{
    float: left;
    padding-left: 150px;
    
    
}

p.end{
    margin: 4530px 570px;
    font-size: 18px;
    height: 70px;
    position: absolute;
    color: #686868;
    width: 500px;

}

@media only screen and (max-width: 600px) {
    /* Add your CSS styles for mobile devices here */
    strong.f{
        font-size: 30px;
        font-weight: bold;
    
    }
    *{
        box-sizing: border-box;
        transition: 1s ease;

    }
    html{
        scroll-behavior: smooth;
    }
   

    
    img.logo1{
    
        position:absolute;
        margin: 20px 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    h1.logo2{
        
        position: absolute;
        margin: 22px 55px;
        font-size: 20px;
    
    }
    ul.fistpage{
        display: none;
    
    }
    li.li1{   
        float:left; 
        padding-left: 0px;
        list-style-type: none;
        font-size: 13px;
        font-weight: bold;   
    }
    
    a.signin{
        position: absolute;
        margin: 28px 260px;
        border: 0px solid ;
        font-size: 13px;
        border-radius: 30px;
        text-align: center;
        padding: 0px;
        padding-top: 0.5px;
        width: 60px;
        height: 20px;
        background-color: #FFF;
        box-shadow: 0px 0px 5px  rgb(207, 207, 207);
        cursor: pointer;
    
    }
    
    a.signup{
        position: absolute;
        margin: 28px 330px;
        border: 0px solid ;
        background-color:#00C569;
        font-size: 12px;
        border-radius: 30px;
        width: 60px;
        padding: 0;
        padding-top: 1.5px;
        height: 20px;
        color: #FFF;
        font-weight: bold;
        cursor: pointer;
        transition: ease.5s; 
               
    }
    .signup:hover{
        background: rgb(0, 0, 0);
    }
    
    a.signin:active{
        background-color: #f5f5f5;
    
    }
    a.signup:active{
        background-color: #13b469;
    
    }
    
    h1.title0{
        position: absolute;
        margin: 120px 30px;
        font-size: 20px;
        color: #000;
        font-weight: bold;
        letter-spacing: 0px;
        line-height: 30px;
   
        
        
    }
    strong.greens{
        color:#00C569;
    
    }
    p.para1{
        margin: 100px 110px;
        width: 100px;
        position:absolute;
        opacity: 0%;
        font-size: 10px;
        transition: 1s ease;
        color: #FFF;

    }
    
    input.start{
        position: absolute;
        margin: 240px 30px;
        border: 0px solid ;
        background-color:#00C569;
        font-size:10px;
        border-radius: 30px;
        padding: 0px;
        width: 65px;
        height: 20px;
        color: #FFF;
        cursor: pointer;
        
    }
    input.start:active{
        background-color:#00b35f;
    }
    
    input.contact{
        position: absolute;
        margin: 240px 110px;
        border: 0px solid ;
        background-color:#fcfcfc;
        font-size: 10px;
        border-radius: 30px;
        width: 65px;
        height: 20px;
        color: #00C569;
        cursor: pointer;
        padding: 0px;
        box-shadow: 0px 0px 5px  rgb(213, 213, 213);
    
    }
    input.contact:active{
        background-color:#efefef;
        color: #009f2d;
    }
    div.green{
        position: absolute;
        margin: 200px 270px;
        background-color: #00C569;
        width: 120px;
        height: 60px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    img.image1{
        width: 130px;
        height:160px;
        position: absolute;
        margin: 100px 250px;
        border-bottom-left-radius: 50px;
        transition: 0.5s ease;
    }
    
    div.lemoon{
        width: 50px;
        height: 50px;
        position: absolute;
        margin: 220px 240px;
        background-color: rgb(255, 221, 0);
        border-radius:20px;
        cursor: pointer;
        animation: lemoon 10s infinite linear  ;
        transition: 1s ease-in-out;
        user-select: none;
    }
    @keyframes lemoon {
        100%{
            transform: rotate(360deg);
        }
        
    }

    div.nextpage{
        position: absolute;
        width: 100%;
        height: 220px;
        margin: 350px 0px;
        background-color: #e7e7e7;
        }
    h1.nextpage1{
        position: absolute;
        margin: 385px 100px ;
        font-size:15px ;
        width: 200px;
        text-align: center;
  
        
        
    }
    h1.nextpage2{
        position: absolute;
        margin: 440px 127px ;
        font-size:15px ;
        text-align: center;
        width:150px;
        
    }
    h1.nextpage3{
        position: absolute;
        margin: 500px 100px ;
        font-size:15px ;
        width: 250px;
        text-align: center;
        width: 200px;
       
    }
    h1.page2{
        position: absolute;
        
        margin: 595px -130px;     
        
        font-size: 15px;
        letter-spacing: 0px;
        font-weight: bold;
        display: none;
    
    
    }
    div.box1{
        position: absolute;
        margin:650px 100px;
        height: 220px;
        width: 220px;
        background-color: #FFF;
        box-shadow: 0px 0px 5px  rgba(181, 181, 181, 0.655);
        border-radius: 12px;
        transition: 0.5s ease;
    
    }
    
    
    
    div.box2{
        position: absolute;
        margin: 900px 100px;
        height: 220px;
        width: 220px;
        background-color: #FFF;
        box-shadow: 0px 0px 5px  rgba(181, 181, 181, 0.655);
        border-radius: 12px;
        transition: 0.5s ease;
        
    }
    div.box1:hover,div.box2:hover,div.box3:hover,div.box4:hover{
        box-shadow: 0px 0px 10px  rgb(149, 149, 149);
        cursor: pointer;
        user-select: none;
    
    }
    
    div.box3{
        position: absolute;
        margin: 1150px 100px;
        height: 220px;
        width: 220px;
        background-color: #FFF;
        box-shadow: 0px 0px 5px  rgba(181, 181, 181, 0.655);
        border-radius: 12px;
        transition: 0.5s ease;
    
    }
    div.box4{
        transition: 0.5s ease;
    
        position: absolute;
        margin: 1400px 100px;
        height: 220px;
        width: 220px;
        background-color: #FFF;
        box-shadow: 0px 0px 5px  rgba(181, 181, 181, 0.655);
        border-radius: 12px;
    
    }
    img.boximage1{
        width: 40px;
        height: 40px;
        margin: 10px;
        background-color: #b3ffd1;
        border-radius: 10px;
        padding: 5px;
        
    }
    h5.research{
        font-size: 15px;
        margin: 10px 12px;
    
    
    }
    p.para2{
        position: absolute;
        font-size: 14px;
        margin: 10px 10px;
        text-align: center;
    }
    div.image3{
        position: absolute;
        background-color: #e7e7e7;
        width: 150px;
        height:110px;
        border-radius: 20px;
        margin: 1680px 130px;
        overflow: hidden;
        filter: brightness(90%);
        cursor: pointer;
    
    }
    img.image33{
        margin: 0px -30px;
        transition: 0.5s ease-in-out;
        width:200px;
    }
    
    img.image33:hover{
        transform: scale(1.1);
    }
    h1.aboutus{
        position: absolute;
        margin: 1835px 170px;
        width: 100px;
        font-size: 15px;
        display: none;
       
        
    }
    p.aboutpara{
        position:absolute;
        width: 300px;
        color: #6d6d6d;
        margin: 1860px 60px;
        font-size: 10px;
        text-align: center;
    }
    a.explore{
        position: absolute;
        margin: 1940px 180px;
        width: 150px;
        color: #00eb7d;
        font-size: 10px;
    }
    h1.page3{
        position: absolute;
        margin:2020px -150px;
        display: none;
        text-align: center;
        font-size: 15px ;
     
    }
    div.newbox1{
        background-color: #FFF;
        position: absolute;
        margin: 2100px 95px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px #dfdfdf;
        transition: .5s ease-in-out;
    
    }
    h1.title1{
        margin: 30px;
        font-size: 20px;
        display: none;

     
       
    }
    h1.title2{
        display: none;
        margin: 30px;
        font-size: 15px;
      
    }
    li.li3{
        height: 30px;
        margin: 10px;
        font-size: 12px;

    
    }
    sub.little{
        font-size: 15px;
    }
    div.newbox2{
        background-color: #FFF;
        position: absolute;
        margin: 2550px 95px;
        width: 230px;
        height: 300px;
        box-shadow: 0px 0px 0px #c8c8c8;
        border-radius: 20px;
        transition: .5s ease-in-out;
       
    }
    div.newbox1:hover,div.newbox2:hover,div.newbox3:hover{
        box-shadow: 0px 0px 10px #c8c8c8;
        cursor: pointer;
    
    }
    h4.name1{
        position: absolute;
        margin: 3635px 170px;
        width: 150px;
        font-size: 14px;
    }
    label.comment1{
        position: absolute;
        margin: 3655px 170px;
        width: 150px;
        font-size: 12px;
    
    
    }
    
    div.newbox3{
        background-color: #FFF;
        position: absolute;
        margin: 3000px 95px;
        width: 230px;
        height: 300px;
        border-radius: 20px;
        transition: .5s ease-in-out;
        
    }
    
    input.learn3{
        position: absolute;
        margin: 10px 0px;
        border: 0px solid ;
        background-color:#00DD6F;
        font-size: 13px;
        border-radius: 30px;
        padding: 0px;
        width: 100px;
        height: 30px;
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0px 0px 5px  rgb(181, 181, 181);
        transition: 0.2s ease;
    }
    .learn3:active{
        background-color: #00a156;
    
    }
    button.left{
        position:absolute;
        width: 40px;
        height: 40px;
        font-size: 30px;
        margin: 3440px 150px;
        background-color: #FFF;
        border-radius: 5px;
        cursor: pointer;
    
    }
    button.left:active{
        background-color: #eeeeee;
     
    }
    button.right{
        position:absolute;
        width: 40px;
        height: 40px;
        font-size: 30px;
        margin: 3440px 210px;
        border: 0px solid;
        color: #FFF;
        background-color: #00DD6F;
        border-radius: 5px;
        box-shadow: 0px 0px 7px #00c5696f;
        cursor: pointer;
    
    }
    button.right:active{
        background-color: #00ae5d;
    }
    h1.clients{
        position: absolute;
        margin: 3520px -120px;
        font-size: 15px;
        display: none;
         
    }   
    div.comment1{
       width: 200px; 
       height: 130px;
       position: absolute;
       background-color: white;
       margin: 3560px 100px;
       border-radius: 10px;
       box-shadow: 0px 0px 5px rgb(230, 230, 230);
    
    }

    div.comment2{
        /* width: 200px; 
        height: 130px;
        position: absolute;
        background-color: white;
        margin: 3790px 50px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(223, 223, 223); */
        display: none;
     }
     .kk1{
        position: absolute;
        border: 2px solid black;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        margin: 3550px 120px;
        z-index: 1;
        text-align: center;
        background-color: rgb(255,255,255);
        cursor: pointer;
     }
     .kk2{
        /* position: absolute;
        border: 2px solid black;
        width: 30px;
        height:30px;
        border-radius: 50%;
        text-align: center;
        font-size: 60px;
        margin: 3810px 625px;
        z-index: 1;
        background-color: rgb(255,255,255);
        cursor: pointer; */
        display: none;
    }
     .kk3{
        /* position: absolute;
        border: 2px solid black;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        font-size: 60px;
        margin: 3910px 1025px;
        z-index: 1;
        background-color: rgb(255,255,255);
        cursor: pointer; */
        display: none;
     }
     img.profile1{
        width:50px;
        height:50px;
        border-radius: 50%;
        z-index: 5;
        position: absolute;
        margin: 3630px 115px;
        
     }
     p.comment1{
        margin: 3590px 120px;
        font-size: 12px;
        width: 170px;
     }
     p.finalpara,h2.logo2,p.comment2,div.comment2,img.profile2,h4.name2,label.comment2,p.comment3,div.comment3,img.profile3,h4.name3,label.comment3{
        display:none;
    }
     div.comment3{
        display: none;
        /* width: 200px; 
        height: 130px;
        position: absolute;
        background-color: white;
        margin: 3760px 1000px;
        border-radius: 10px;   
        box-shadow: 0px 0px 5px rgb(230, 230, 230); */
    }
     button.left2{
        position:absolute;
        width: 40px;
        height: 40px;
        font-size: 30px;
        margin: 3740px 140px;
        background-color: #FFF;
        border-radius: 5px;
        cursor: pointer;
    
    }
    button.left2:active{
        background-color: #eeeeee;
    }
    button.right2{
        position:absolute;
        width: 40px;
        height: 40px;
        font-size: 30px;
        margin: 3740px 220px;
        border: 0px solid;
        color: #FFF;
        background-color: #00DD6F;
        border-radius: 5px;
        box-shadow: 0px 0px 7px #00c5696f;
        cursor: pointer;
    
    }
    button.right2:active{
        background-color: #00ae5d;
        box-shadow: 0px 0px 7px #00c5696f;
    
    }
    
    div.page4{
        position: absolute;
        background-color: rgb(218, 218, 218);
        width: 100%;
        height: 130px;
        margin: 3800px 0px;
        font-size: 15px;
    
    }
    h1.title4{
        position: absolute;
        text-align: center;
        width: 150px;
        margin: 3840px 130px;
        letter-spacing: 1px;
        font-size: 15px;
        
        
    }
    input.email{
        position:absolute;
        margin: 4000px 30px;
        height: 40px;
        width: 250px;
        border: 0px solid ;
        border-radius: 10px;
        text-indent: 15px;
        font-size: 4x;
        box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.215);
        
    
    }
    input.subscribe{
        position: absolute;
        margin: 4000px 290px;
        border: 0px solid ;
        background-color:#00C569;
        font-size: 15px;
        border-radius: 10px;
        padding: 15px;
        width: 105px;
        height: 40px;
        padding: 0px;
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0px 0px 5px  rgb(181, 181, 181);
        transition: 0.2s ease;
    }
    ::placeholder{
        font-size: 13px;
    }
    .subscribe:active{
        background-color: #000;
    }
    /* h2.logo2{
        position: absolute;
        margin: 400px 50px;
        font-size:20px;
        
    } */
    p.finalpara{
        position: absolute;
        margin: 4340px 50px;
        color: #999;
        width: 200px;
   
    }
    ul.end1{
        position: absolute;
        margin: 4100px 240px;
        width: 200px;
        color: #000 ;
        font-size: 10px;
        right: 20px; 
        text-align: center; 
      
    }
    #serviceend{
        display: none;
    }
    li.serviceend{
        height: 100px;
        
    
    }
    
    p.end{
        margin: 4250px 100px;
        font-size: 10px;
        height: 40px;
        position: absolute;
        color: #686868;
        width:250px;
    
    }
    
    
    
  } 
